%p Please answer the following questions 
%strong about the personality of the person who referred you to this study.

%p Ten-Item Personality Inventory
%p Here are a number of personality traits that may or may not apply to the person who referred you to this study. Please select a number for each statement to indicate the extent to which you agree or disagree that the statement describes the person who referred you to this study. You should rate the extent to which the pair of traits applies to that person, even if one characteristic applies more strongly than the other. 
  %ol
    %li Disagree strongly
    %li Disagree moderately
    %li Disagree a little
    %li Neither agree nor disagree
    %li Agree a little
    %li Agree moderately
    %li Agree strongly

%p I see the person who referred me to this study as:
= render "participant_ten_items", :form => form
