%h1 Personality Perception on Twitter
%p Welcome to the friends and family members online portal for the Personality on Twitter study, being conducted by researchers at #{ link_to 'Franklin W. Olin College of Engineering', 'http://www.olin.edu'}!

%h2 What We’re Doing:
%p We are studying whether people can accurately read each other’s personality based on their Twitter feed.  Millions of people use Twitter and yet researchers still know remarkably little about how we represent ourselves through our tweets.  We are also interested in whether strangers reading a Twitter feed can read the tweeter’s personality as accurately as people who know them well in person – that’s where you come in.  We are not affiliated with Twitter in any way and we will not be sending any data or results to Twitter.

%h2 What Your Participation Will Involve:
%p If you agree to participate, we will ask you to do two things:
%ol
  %li Complete 16 multiple-choice questions and two short open-ended questions.
  %li Complete the same very short personality questionnaire, describing the personality of the person who referred you to this study (their name was in the email you received).

%h2 Why Should I Participate?
%p Your participation will contribute to the first study ever done about personality on Twitter.  You will also be eligible to win one of three $50 gift certificates to Amazon.com, chosen randomly from the group of friends/family members in the study.

%p If you are interested in participating, please click “Next” to be taken to the official consent form, where you will indicate your willingness to participate and then begin the study.

= simple_form_for [@informant.participant, @informant] do |f|
  = f.submit "Next"
