%h1 Personality Perception on Twitter
%p Welcome to the online portal for the Personality on Twitter study, being conducted by researchers at #{ link_to 'Franklin W. Olin College of Engineering', 'http://www.olin.edu'}!

%h2 What We’re Doing:
%p We are studying whether people can accurately read your personality based on your posts to Twitter .  Millions of people use Twitter and yet researchers still know remarkably little about how we express ourselves through our tweets.  We are also interested in whether strangers reading your Twitter posts can read your personality as accurately as people who know you well in person.  We are not affiliated with Twitter in any way and we will not be sending any data or results to Twitter.

%h2 What Your Participation Will Involve:
%p If you agree to participate, we will ask you to do three things:
%ol
 %li Complete 16 multiple-choice questions and two short open-ended questions.
 %li Give us the names and email addresses of three people who know you very well (ideally friends or family members). We will contact and ask them to complete the same very short personality questionnaire and to describe your personality.  We will only use their names and email addresses for the purposes of the study.  We will never share them (or your name/email address) with anyone else, and will delete all of them once the study is complete.
 %li Give us permission to copy your tweets from the past 60 days (only members of our research team will see it, using it to see how accurately they can read your personality).
%p Your participation should take no longer than 10-15 minutes.

%h2 Why Should I Participate?
%p Your participation will contribute to the first study ever done about personality on Twitter.  You will also be eligible to win one of three $50 gift certificates to Amazon.com, chosen randomly from our group of participants in the study (the friends/family members you refer us to will also be eligible to win one of three $50 Amazon.com gift certificates, chosen randomly from the group of friends/family members in the study).

%p If you are interested in participating, please click “Next” to view the official consent form, where you will indicate your willingness to participate and then begin the study.

= simple_form_for Participant.new(:handle => @handle) do |f|
 = f.hidden_field :handle
 = f.submit "Next"
