/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
.center
{
  margin:auto;
  width:70%;
}

textarea {   
  outline:none;
  margin: 0px 0px 25px 2px;
  width:90%;
  height:100px;  
}

.radio {
  margin-right: 5px;
  margin-bottom:20px;
}

.collection_radio
{
  margin-right:15px;
}

input[type=text] { 
  width: 150px;
  margin: 0px 10px 20px 5px;
} 

input[type=email] { 
  width: 150px;
  margin: 0px 10px 20px 3px; 
} 

input[type=submit]{
  margin-bottom: 80px;
}

.checkbox {
  margin-right: 5px;
  margin-bottom:20px;
}

consent {
font-size: small;
}
