<!DOCTYPE html>
<html>
<head>
  <title>TwitterPersonalityRecruiter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="center">

<%= yield %>

</div>
</body>
</html>
